div.headder {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
div.Organization {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 50px;
}
div.body {
  padding-top: 120px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

div.logo_official {
  float: left;
  height: 100px;
  width: 15%;
  }
div.sitename {
  float: left;
  align: center;
  height: 100px;
  width: 65%;
  }
div.logo_final {
  float: left;
  height: 100px;
  width: 10%;
  }
div.cm_photo {
  float: right;
  height: 100px;
  width: 10%;
  }